{% extends 'base.html' %} {% load static %} {% block title %}వై ఎస్ ఆర్ రైతు
భరోసా{% endblock %} {% block content %}
<img src="{% static 'images/c1.jpeg' %}" alt="" width="100%" />
<main id="main">
  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Frequently Asked Questions</h2>
      </div>

      <div
        class="row justify-content-center"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="col-lg-10">
          <div class="accordion accordion-flush" id="faqlist">
            <div class="accordion-item">
              <h3 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-content-1"
                >
                  <i class="bi bi-question-circle question-icon"></i>
                  What is the amount of Rythu bharosa?
                </button>
              </h3>
              <div
                id="faq-content-1"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist"
              >
                <div class="accordion-body">
                  Click on the menu-bar on top-right-corner. Under the YSR Rythu
                  Bharosa - PM Kisan scheme, the AP State government gives
                  financial assistance of Rs 13500 per year to eligible farmers
                  in three different installments .
                </div>
              </div>
            </div>
            <!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-content-2"
                >
                  <i class="bi bi-question-circle question-icon"></i>
                  Who qualifies for Rythu bharosa?
                </button>
              </h3>
              <div
                id="faq-content-2"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist"
              >
                <div class="accordion-body">
                  <b>Eligibility Criteria for Rythu Bharosa Scheme Permanent</b>
                  residents of the state of Andhra Pradesh. Associated with the
                  agricultural sector. A small, marginal, or agricultural
                  tenant. Having cultivated 5 acres of land.
                </div>
              </div>
            </div>
            <!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-content-3"
                >
                  <i class="bi bi-question-circle question-icon"></i>
                  Is govt employee eligible for Rythu bharosa?
                </button>
              </h3>
              <div
                id="faq-content-3"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist"
              >
                <div class="accordion-body">
                  All serving or retired officers and employees of Central /
                  State Government Ministries / Offices / Departments and their
                  field units; Central or State PSEs; and attached offices /
                  Autonomous Institutions under Government as well as regular
                  employees of Local Bodies (excluding multi tasking staff /
                  Class IV / Group D ...
                </div>
              </div>
            </div>
            <!-- # Faq item-->

            <div class="accordion-item" style="padding-bottom: 10px">
              <h3 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-content-4"
                >
                  <i class="bi bi-question-circle question-icon"></i>
                  Is Rythu Bandhu taxable?
                </button>
              </h3>
              <div
                id="faq-content-4"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist"
              >
                <div class="accordion-body">
                  <i class="bi bi-question-circle question-icon"></i>
                  31 May 2020 IT IS NOT TAXABLE. Agriculture and Farmer Welfare
                  Department of Telangana Government have introduced Rythu
                  Bandhu scheme in the year 2018. Rythu Bandhu is an investment
                  support scheme to support the livelihood of farmers in the
                  State of Telangana.
                </div>
              </div>
            </div>
            <!-- # Faq item-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Frequently Asked Questions Section -->
</main>
<!-- End #main -->

{% endblock %}
